@font-face {
  font-family: 'choco';
  src: url('./fonts/OriginalFish.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
  background: rgb(207,248,255);
  background: linear-gradient(235deg, rgba(207,248,255,1) 0%, rgba(163,196,235,1) 100%);
  background-attachment: fixed;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10rem;
  color: #1f1f1f;
  height: 1000px;
}

/* Generics */

.center{
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}

.standard-width{
  width: 700px;
}

.hero-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 55vh;
}